<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Points Display Board</h1>
    <table>
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in list_of_clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>